.center-h {
    margin-left: auto;
    margin-right: auto;
}

.margin-v1 {
    margin: 1rem auto;
}

.flex-v {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.half-width {
    max-width: 50%;
}